.link{
  color: #000;
  margin: 0 10px;
}
.activeLink{
  color: blue;
}
.nav{
  width: 100px;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rosybrown;
}
.btn{
  color: #000;
  margin: 0 5px;
  border: 1px solid black;
}
.btn.active{
  color: blue;
  margin: 0 5px;
  border: 1px solid blue;
}
.btn:hover{
  color: blue;
  border: 1px solid blue;
}
