.card{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.cardClose{
  margin: 0 0 0 auto;
  font-size: 15px;
  cursor: pointer;
  padding: 0 10px;
}
